* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, input, button, textarea {
    font: 1em sans-serif;
}

body {
    color: #e6e1dc;
    background: #2b2b2b;
}

.red {
    border-color: #da4939 !important;
}
.orange {
    border-color: #ffc66d !important;
}
.green {
    border-color: #a5c261 !important;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#status-bar {
    border-bottom: solid .2em transparent;
}

#navigation {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}
#navigation > * {
    color: #fff;
    background: #2b2b2b;
    border: .1em solid #2b2b2b;
    padding: .6em 1em;
    cursor: pointer;
}
#navigation > .active {
    background: #477cb4;
}

#content {
    flex: 1;
}
#content > * {
    width: 100%;
    order: 1;
    display: none;
}
#content > .show {
    display: flex;
}

#connection {
    padding: .1em 0;
    text-align: center;
    flex-direction: column;
}
#paste-here {
    padding: 1em;
    margin: 1em;
    font-size: 1.2em;
    border: dashed .2em #e6e1dc;
    cursor: pointer;
}
#paste-here.done {
    cursor: default;
}
#connection .parameters {
    text-align: left;
    margin: 1em;
    font-size: .8em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.terminal {
    height: 100%;
}

/* Note: Hack to remove that ugly scrollbar fragment */
.xterm-viewport {
    visibility: hidden;
}
